In [14]:
import os
import smtplib
from email.message import EmailMessage
import pandas as pd

In [15]:
# csv_to_read = 'Sample_comments.csv'
csv_to_read_1 = 'hari_portfolio_comments_all.csv'
# csv_to_read_2 = 'hari_portoflio_comments_2nd_post.csv'

In [16]:
df = pd.read_csv(csv_to_read_1)
# df2 = pd.read_csv(csv_to_read_2)

In [17]:
# df = pd.concat([df1,df2])

In [18]:
df = df[['firstName', 'comment']]

In [19]:
df['Email_address']=df['comment'].str.findall('(\S+@\S+)')

In [20]:
df = df[df['Email_address'].notnull()]

In [21]:
all_emails = []
for email in df['Email_address']:
    if len(email)>0:
        final = email[0]
        final = final.replace('.com.', '.com')
        final = final.replace('.com,', '.com')
        final = final.replace('.edu.', '.edu')
        final = final.replace('.edu,', '.edu')
        all_emails.append(final)
    else:
        all_emails.append(None)

df['Email_address'] = all_emails

In [22]:
df = df[df['Email_address'].notnull()]

In [23]:
df

,firstName,comment,Email_address
1,Sailesh,Saileshdogiparthi1999@gmail.com,Saileshdogiparthi1999@gmail.com
2,Qalb,haiderqalbe8@gmail.com,haiderqalbe8@gmail.com
3,Atharva,agalphade@usf.edu Thanks and congratulations !!,agalphade@usf.edu
4,Deepthi,deepthin@buffalo.edu,deepthin@buffalo.edu
5,Sneha,snehamaity02@gmail.com,snehamaity02@gmail.com
...,...,...,...
1510,Rishita,kalidindir@usf.edu,kalidindir@usf.edu
1512,Shamwil,akshamwil@outlook.com,akshamwil@outlook.com
1513,Deeptha,dt375@njit.edu,dt375@njit.edu
1514,Shanmuganathan,shans@vt.edu,shans@vt.edu
1515,Wajahat,wmkhan@jgu.edu.in,wmkhan@jgu.eduin

In [11]:
already_sent = pd.read_csv('portfolio_send_marketing_campaign_hari.csv')
df = df[~df['Email_address'].isin(already_sent['Email_address'])]

In [12]:
df

,firstName,comment,Email_address
1,Sailesh,Saileshdogiparthi1999@gmail.com,Saileshdogiparthi1999@gmail.com
2,Qalb,haiderqalbe8@gmail.com,haiderqalbe8@gmail.com
3,Atharva,agalphade@usf.edu Thanks and congratulations !!,agalphade@usf.edu
4,Deepthi,deepthin@buffalo.edu,deepthin@buffalo.edu
5,Sneha,snehamaity02@gmail.com,snehamaity02@gmail.com
...,...,...,...
1402,Madhumitha,msukuma2@asu.edu,msukuma2@asu.edu
1403,Harsha,h.aalla@ufl.edu,h.aalla@ufl.edu
1404,Chinmay,crpathak@iu.edu\nThanks!,crpathak@iu.edu
1405,Hima,hima.15@tamu.edu,hima.15@tamu.edu
1406,Saloni,saloni230301@gmail.com,saloni230301@gmail.com

In [24]:
df.to_csv('portfolio_send_marketing_campaign_hari.csv')

In [13]:
df.to_csv('second.csv')